<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="ENDPOINT" value="http://onstar.pagekite.me/captcha.restful"/>
    <add key="DEBUG" value="true"/>
    <add key="KeyInterval" value="25"/>
  </appSettings>
</configuration>
