<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--<add key="ENDPOINT" value="http://onstar.pagekite.me/captcha.restful"/>-->
    <add key="ENDPOINT" value="http://139.196.24.58/captcha.restful"/>
    <!--<add key="ENDPOINT" value="http://10.228.89.102/captcha.restful"/>-->
    <add key="DEBUG" value="true"/>
    <add key="KeyInterval" value="-1"/>
    <add key="principal" value="HELPER"/>
    <add key="credential" value="Pass2010"/>
    <add key="SendKeys" value="SendInput"/>
  </appSettings>
</configuration>
