<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--<add key="ENDPOINT" value="http://127.0.0.1:8080/chapta.ws"/>-->
    <add key="ENDPOINT" value="http://10.16.145.148/chapta.ws"/>
    <add key="DEBUG" value="true"/>
  </appSettings>
</configuration>
